*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Source Code Pro', monospace;
    
  }
  
  .parent_div{
    width: 80vw;
    height: 80vh;
    background-color:black;
    display: flex;
    justify-content: center;
   align-items: center;
   border: 3px solid green;
   margin-left: 120px;
  
  
  }
  
  .child_div {
   width: 60vw;
   height: 60vh;
   background-color: white; 
  
  }
  
  h1{
    text-align: center;padding-top: 22px;
    
  }
  .button {
    border-radius: 4px;
    background-color: blue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 5px;
   
  }
  
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .parent_div1{
    width: 80vw;
    height: 80vh;
    background-color:black;
    display: flex;
    justify-content: center;
   align-items: center;
   border: 3px solid green;
   margin-left: 120px;
  
  
  }
  
  .child_div1 {
   width: 30vw;
   height: 80vh;
   background-color:white; 
   
   
   -ms-transform: rotate(90deg); /* IE 9 */
   transform: rotate(90deg);
  
  }
  
p{
 text-align: justify;
 margin: 50px;
}
.flex-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:white;
  margin: 20px;
  flex-wrap: wrap;
  

}
.flex-container>div{
  background-color:darkgray;
  width: 250px;
  margin: 20px;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  box-shadow: 0 0 20px;
  border: 1px solid blue;
  color: white;
 

  
}
.child {
  background-color: #ddd;
  border: none;
  color: black;
 
  text-align: center;
  font-size: 16px;
 
  transition: 0.3s;
}

.child:hover {
  background-color: blue;
  color: white;
}


.media{
  display: flex;
}
.form-row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 
}


