*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Source Code Pro', monospace;
    max-width: 100%;
    transition: all 0.3s ease-out;
    
    
    
  }
  
  
  .parent_div{
    width: 100vw;
    height: 100vh;
   
    display: flex;
    justify-content: center;
   align-items: center;
   
  
  
  
  }
  
  .child_div {
   width: 60vw;
   height: 60vh;
  
  }
  
  h1{
    text-align: center;padding-top: 22px;
    
  }
  .button {
    border-radius: 4px;
    background-color: blue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 5px;
   
  }
  
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .parent_div1{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
   align-items: center;
  
  
  }
  
  .child_div1 {
   width: 30vw;
   height: 80vh;
   
   
   -ms-transform: rotate(90deg); /* IE 9 */
   transform: rotate(90deg);
  
  }
  
p{
 text-align: justify;
 margin: 50px;
}

  


.media{
  display: flex;
}
.form-row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 
}




.card {
  background: #fff;
  width: 24rem;
  border-radius: 0.6rem;
  margin: 1rem;
  overflow: hidden;
  cursor: pointer;
 
  transition: all ease 200ms;
}



.card img {
  width: 100%;
  object-fit: cover;
}

.card h2 {
  color: #222;
  margin-top: -0.2rem;
  line-height: 1.4;
  font-size: 1.3rem;
  font-weight: 500;
  
  transition: all ease-in 100ms;
}

